<div class="container" *ngIf="cargado">
    <app-icon src="assets/icons/close.png" alt="" [style]="'icon-close'" (click)="closeVist()"></app-icon>

    <div class="image">
        <img [src]="srcImg" [alt]="altImg" class="imageUpdateHotel">
    </div>
    
    <section class="inputs">
        <div class="input" *ngFor="let input of inputs">
            <app-text *ngIf="input.text" [text]="input.text" [style]="'textHotelUpdate'"></app-text>

        <app-view-service
        *ngIf="input.placeholder" 
        [text]="input.placeholder"
        ></app-view-service>

            <app-text *ngIf="input.number" [text]="input.number" [style]="'textHotelUpdate'"></app-text>
        <app-view-service
        *ngIf="input.placeholderNumber" 
        [text]="input.placeholderNumber"
        ></app-view-service>

        <app-view-service
        *ngIf="input.dateStar"
        [text]="input.dateStar"
        ></app-view-service>

        <app-view-service
        *ngIf="input.dateFinish"
        [text]="input.dateFinish"
        ></app-view-service>
        </div>
    </section>
</div>
