@import '../../../../../styles/variables.scss';

.conten {
    width: 77vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    border-bottom: 1px solid $color-borders;
  
    .title {
      display: flex;
      justify-content: space-between;
  
      .title1 {
        position: relative;
        padding-right: 1rem;
        margin-right: 1rem;
  
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          height: 60%;
          width: 1.6px;
          background-color: $primary-color;
          transform: translateY(-50%);
          display: none; // Por defecto oculto
        }
      }
  
      /* Mostrar la línea solo cuando la clase 'with-line' esté presente */
      .with-line::after {
        display: block;
      }
    }
  }
  
