.multifaceted-search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20rem;
    .content{
        position: absolute;
        z-index: 1000;
        top: 75%;
    }
   
}