<div class="multifaceted-search">
    <div class="conten-top">
    <app-conten-top
    [style]="'image-top-home'"
    toptitle="!Bienvenido a Odyssey Expedition¡"
    topsubtitle="!Encuentra los mejores precios¡"
    ></app-conten-top>
  <app-images src="https://s3-alpha-sig.figma.com/img/1d1a/b3c0/cfd5d8a542dfec3a19eb4103acd01d96?Expires=1719792000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DyLLX6u3k1j0hOX8NKyEqd1cHtCZa~bmG~Iqe~ajB92GKIWQ-mU3cCldiUhffpJBpvsZEYiI0SvLXVvS2GOQA3rYzAV6iLo4ahDndFLVxAAB3vMcPFjJUTXBhuUQtgFDD1HMHvBojevj5LYaPcrplwkRtxxOubIZgXC43aisLi36rXutlrLleMpg8kyXfA-K8sjYAJdh54twON94ZEI5yNH8In2OC9mByltzMqbbz0rw2fGDwMBoQf~GMYY2FQNZ8SPZj7~Y-WJ33gq-5qDHrnqtHZdTQ8W6lw1VlIKm89APesTmBH5ZRlPDT66rQ81tTnWBBlVQ70UN8t4Q1eizfg__"
  alt="image"
  ></app-images>
    </div>
    <div class="content">
    <app-share-button [contens]="contenButton"></app-share-button>
    <app-conten-multifaceted [contensSection]="contenSection" [checkboxes]="checkContens" textbutton="Buscar" ></app-conten-multifaceted>
    </div>
</div>