<div class="multifaceted-search">
    <div class="conten-top">
    <app-conten-top
    [style]="'image-top-home'"
    toptitle="!Bienvenido a Odyssey Expedition¡"
    topsubtitle="!Encuentra los mejores precios¡"
    ></app-conten-top>
  <app-images src="https://s3-alpha-sig.figma.com/img/3919/5891/6965a1be3e4c68beadcbc51a1bd5ef44?Expires=1720396800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KlKF2kSGaMWvFyxChAQ2t5k0bxhSKalH2XXfwh6fwzl8QZnsbVCqb4b4Iju2awYGbCm8mjMtCyo4jqhUDdQTOumEVYdNH29NHVJMN5LBYebLZrBkaC-XmSjAS0N-7-KPcedtUbDZbtmIXoqBIWxLnQeymO2gPbrwyMq6O5uALYVfAQmoClJOcyaVmerlCrHNFtP2KG7~2AhBpzfnWhFOVzj7-Su4X1vX6l4-de3c87V0z6Npq9L9XwsCS3vNatsS62BZ6PGsBKz80eySUJOJNSm9Eyg-L3tq8IVxgOHQ~52oKL6KuledoEnjhLandbDLVhmlCL~z1RuFcubJ5nCzgQ__"
  alt="image"
  ></app-images>
    </div>
    <div class="content">
    <app-share-button [contens]="contenButton"></app-share-button>
    <app-conten-multifaceted [contensSection]="contenSection" [checkboxes]="checkContens" textbutton="Buscar" ></app-conten-multifaceted>
    </div>
</div>