@import '../../../../../styles/variables.scss';

.multifaceted-search {
  display: flex;
  align-items: center;
  flex-direction: column;

  .content {
    width: 95vw;
    margin-top: 24%;
  }
  .conten-top{
    position: absolute;
    z-index: -1;
    top: 2;
  }
}

@media (min-width: 352px) and (max-width: 480px) {
    .multifaceted-search {
        .content {
        width: 90vw;
        margin-top: 28vh;
        }
          .conten-top{
        top: 16.6%;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}
  