<div class="multifaceted-search">
  <div class="conten-top">
    <app-conten-top
    [style]="'image-top-home'"
    toptitle="!Bienvenido a Odyssey Expedition¡"
    topsubtitle="!Encuentra los mejores precios¡"
    ></app-conten-top>
    <app-images src="https://s3-alpha-sig.figma.com/img/3919/5891/6965a1be3e4c68beadcbc51a1bd5ef44?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UMW2ymXgy3pghfB2gWpw1t-l8LA6jyV48KN5npfC7WxE0~dGXH3FcWIimG4DnbQnQzfSC11YymbumkSwWpOJOSUqOmaE~zaWtPhHyZJIsIeBJFt9UIMhnX81I3VoWx8MP5tiBSQpZywZvVPuiZgYJe5eA2UpXSvnHxv68mkgmkRqb9jbaW5Oss0hl9F3VBKkRxv0KnOXhHVmKKYcxsTnalYT7JdJb5vQLis1924HMaXkutx0QZx6tfJDbFCaZkG39aqvNQi10kHur9~RCPkuQDKeC4uG-aoIMv-A8gkreJcuNPKNcBmXmmAjE3gJFCUBwGzEjw7Os8s97PtavC8kCw__"
    alt="image"
    ></app-images>
  </div>
    <div class="content">
    <app-share-button [contens]="contenButton"></app-share-button>
    <app-conten-multifaceted [contensSection]="contenSection" [checkboxes]="checkContens" textbutton="Buscar" ></app-conten-multifaceted>
    </div>
</div>