<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form"> 
  <div class="header">
    <div class="titles">
      <app-title [text]="title" [style]="'title-third'"></app-title>
      <app-icon [src]="srcclose" [alt]="altclose" [style]="'icon-close'" (click)="closeModal()"></app-icon>
    </div>
    <app-button [text]="textGoogle" [style]="'registerGoogle'" (click)="logInWithGoogle()">
      <app-icon [src]="srcicon" [alt]="alticon" [style]="'icon-google'"></app-icon>
    </app-button>
    <div class="line">
      <hr><p>o</p><hr>
    </div>
    <div class="text" *ngFor="let conten of contensSection">
      <app-subtitle [style]="'subtitle-register'" [text]="conten.title"></app-subtitle>
      <app-input-error
        [control]="getFormControl(conten.field)"
        [placeholder]="conten.placeholder"
        [type]="conten.type === 'password' && !showPassword ? 'password' : 'text'"
        [errors]="{
          required: 'Este campo es obligatorio',
          email: 'Ingrese un correo electrónico válido',
          weakPassword: 'La contraseña no cumple los requisitos mínimos',
        }">
      </app-input-error>
      <app-text [text]="'Mostrar'" 
      [style]="isPasswordError(conten.field) || isPasswordMismatch() ? 'errortext' : 'errortext1'"
      *ngIf="conten.type === 'password'" 
      (click)="togglePasswordVisibility()" 
      class="toggle-password-btn">
</app-text>
     
    </div>
  </div>
  <div class="footer">
    <div class="option">
      <app-check-box label="Recuérdame" [isChecked]="true"></app-check-box>
      <app-link-normal [text]="textlink" [style]="'text-link'"></app-link-normal>
    </div>
    <app-button type="submit" [disabled]="loginForm.invalid" [text]="textContin" [style]="'other-button'"></app-button>
    <div class="text-footer">
      <app-text [text]="textfooter" [style]="'text-normal'"></app-text>
      <app-link-normal [text]="textfooter1" [href]="href" [style]="'link-normal-all'"></app-link-normal>
    </div>
  </div>
</form>
