<app-nav-bar-admin  [titles]="titlesTopTransport"></app-nav-bar-admin>

<div class="conten">

    <div class="contenTop">
      <div class="contenTop">
        <div class="filters" *ngFor="let input of inputs; let i = index">
          <app-text *ngIf="input.tex" [text]="input.tex" [style]="'chatIA'"></app-text>
          <app-input-text *ngIf="input.input && input.type" 
                          [(ngModel)]="inputValues[i].value" 
                          [placeholder]="input.input" 
                          [type]="input.type" 
                          [list]="input.list"
                          [style]="'inputAdmin'">
          </app-input-text>
          <app-input-date 
  *ngIf="input.dateStar" 
  src="assets/icons/date.png" 
  [txt]="input.dateStar" 
  [disableMinDate]="true"
  [style]="'dateUpdateTransport'"
  [(ngModel)]="inputValues[i].dateStart">
</app-input-date>

<app-input-date 
  *ngIf="input.dateFinish" 
  src="assets/icons/date.png" 
  [txt]="input.dateFinish" 
  [disableMinDate]="true"
  [style]="'dateUpdateTransport'"
  [(ngModel)]="inputValues[i].dateFinish">
</app-input-date>

        </div>
        <app-selector
        *ngFor="let select of selects"
        [textSelect]="select.text"
        [selectId]="'select-' + select.option"
        [options]="select.options"
        [selectedValue]="select.option"
        [selectClass]="'select-class'"
        (valueChanged)="onOptionChange($event)">
      </app-selector>      

      <div class="button">
        <div [class]="butons">
          <app-button *ngFor="let button of buttons; let i = index"
              [style]="'button-Admin'" 
              [text]="button.textButon"
              (click)="onButtonClick(i, button)">
              <app-icon [src]="button.srcButon" [alt]="button.altButon" [style]="'iconAdmin'"></app-icon>
          </app-button>
        </div>
      </div>

    </div>
    <div class="teble">
        <app-table-admin
        [header]="'headerTransporte'"
        [conten]="'conten2'"
        [items]="itemsTransport"
        [titles]="titlesTransporte"
        [isLoading]="isLoading"
        [sourceComponent]="'ComponenteTransporte'"
        [modalConfig]="modalConfig">
      </app-table-admin>
    </div>

</div>