@import '../../../../../../styles/variables.scss';

:host ::ng-deep .login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .info{
        margin-bottom: 1.6rem;
    }
}
  
  