.conten-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    .contend{
        margin: 3rem 0rem 10rem 0rem;
    }
    .conten-card{
        app-template-cards{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            padding: 50px 0px 60px 0px;
        }
    }
}


@media (min-width: 352px) and (max-width: 480px) {
    .conten-profile{
        .contend{
            .title{
                margin-left: 1rem;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .conten-profile{
        .contend{
            .title{
                margin-left: 2.4rem;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .conten-profile{
        .contend{
            .title{
                margin-left: 1rem;
            }
        }
    }
}

@media (min-width: 921px) and (max-width: 1279px) {
    .conten-profile{
        .contend{
            .title{
                margin-left: 3rem;
            }
        }
    }
}

@media (min-width: 1280px) {

}