<app-principal-navbar ></app-principal-navbar>
<app-secondary-navbar></app-secondary-navbar>
<div class="container">
    <img src="https://s3-alpha-sig.figma.com/img/41bb/a065/0c3a8cd4d19af5b55164f7eb76d20cee?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Sazxb1BLuFiAoufu~tgOPXbh0cUW5QrPEuGaUsXZUJYTY6PEZ4HhV5aO6nW4MAhX3AijwbqhMs-Sg6MimGjFNHRsX8myToIyRFzb94FZ35LrAm892Vtyy8v-TtsWc13pxrcE7qt1bgK8COBaxtqOI6eNmkqGH6jGDC7ARq76Egnox-VWZosMJsRBwCowIf9wVHf1QTEuUJGLpCwPq2VTz-sQ1Eg0BfBF5zXczNTnSET6w8Y7DNpYh-7kwqFUjlboxW8V1CpAexCzTUti9dEYJJT-bAGUhdNraEME25xLzadUzqURME-IAzQ1FaaT-tkhs1KWsVy4hXU8R84X7r1YnQ__" alt="Mantenimiento" class="fondo">
    <app-title [style]="'title-secondary'" text="Hola {{name}} lo sentimos, estamos en mantenimiento" (click)="showData()"></app-title>
    <app-subtitle [style]="'subtitle-principal'" text="Nuestro sitio web se encuentra actualmente en mantenimiento"></app-subtitle>
</div>
<app-principal-footer></app-principal-footer>