@import '../../../../../../styles/variables.scss';

app-title{
    color: $primary-color;
    width: 30rem;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}


img{
    width: 40rem;
    height: 40rem;
}

.container{
    margin-bottom: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

