<app-principal-navbar ></app-principal-navbar>
<app-secondary-navbar></app-secondary-navbar>
<div class="container">
    <img src="https://s3-alpha-sig.figma.com/img/41bb/a065/0c3a8cd4d19af5b55164f7eb76d20cee?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=X37HvcJWswHxfcyV7hIoTyetxtJ~DrVY93K08BSC~ZGxwG2cu3jaAA8Q4EWC2~ciy7CbblIqBOlzHghzD6BsCHTcDznv-Kpw4xnCZLTT9hbT3HrBP9gOl~ofAg6GoLLi8E88V2P565ERRrIgW~diVwdPP37Xg75Ki-VoVH~J0UyIz6y6xXE0aP8Q4TC4kGAT~r-h4lWzHBlUNPlhBA8zyA-TNRvnwZX~p73rVWZhJ8aoz9izMiYYQXPcFOHtrNE60zr0wrUSD1sOowPahkae4jCQz9GO8IUP5xfVIlhMhSKBfcS6AtqkcURBoskgsTVqX6lJkNNTrhr20aw3EMVpnQ__" alt="Mantenimiento" class="fondo">
    <app-title [style]="'title-secondary'" text="Hola {{name}} lo sentimos, estamos en mantenimiento" (click)="showData()"></app-title>
    <app-subtitle [style]="'subtitle-principal'" text="Nuestro sitio web se encuentra actualmente en mantenimiento"></app-subtitle>
</div>
<app-principal-footer></app-principal-footer>