@import '../../../../../styles/variables.scss';

.input-register{
  padding-left: 1rem; 
  width: 25.25rem; 
  height: 4.063rem; 
  border-color: $color-borders;
  box-sizing: border-box;
  border-radius: 5px; 
  font-size: $text-normal; 
  margin-top: 1rem;
}

.input-desible{
  padding-left: 1rem; 
  width: 29.313rem; 
  height: 4.063rem; 
  border-color: $color-borders;
  box-sizing: border-box;
  border-radius: 5px; 
  font-size: $text-normal; 
  margin-top: 1rem;
}


.input-text {
  padding-left: 2.5rem; 
  width: 15rem; 
  height: 4.063rem; 
  border-color: $color-borders;
  box-sizing: border-box;
  border-radius: 5px; 
  font-size: $text-normal; 
  margin-top: 0.4rem;
}
.input-number {
  width: 12.5rem; 
  height: 4.063rem; 
  border: 1px solid $color-borders; 
  border-radius: 5px; 
  padding: 5px; 
  font-size: $text-normal; 
  border-color: $color-borders; 
  box-sizing: border-box;
  text-align: right;
    margin-top: 0.4rem;
}  

.input-update{
  padding-left: 1rem; 
  width: 31rem; 
  height: 4.063rem; 
  border-color: $color-borders;
  box-sizing: border-box;
  border-radius: 5px; 
  font-size: $text-normal; 
  margin-top: 0.4rem;
}

.inputIA{
  padding-left: 1rem; 
  width: 22rem; 
  height: 4rem; 
  border-color: $color-borders;
  box-sizing: border-box;
  border-radius: 0.625rem; 
  font-size: $text-normal; 
  margin-top: 0.4rem;
}

@media (min-width: 352px) and (max-width: 480px) {
  .input-register{ 
    width: 70vw;
    height: 7vh;
    margin-top: 0rem;
    font-size: 14px; 
  }
  .input-update{
    width: 50vw;
    height: 5vh;
  }

  .input-text{
    width: 80vw;
    height: 3.063rem; 
  }
  .input-number{
    width: 37vw;
    height: 3.063rem;
  }
  .inputIA{
    width: 70vw;
    height: 3rem;
  }

}



@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}