// src/app/icon/icon.component.scss
.primary {
    width: 48px;
    height: 48px;
}
  
.icons-top-nab-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 28px;
    height: 28px;
}

.profile{
    margin-right: 5rem;
    width: 60px;
    height: 60px;
}
  
.shared-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem 1rem 0rem 1rem;
}

.icon-text{
    width: 0.541rem;
    height: 0.625rem;
}