// src/app/icon/icon.component.scss
.primary {
    width: 48px;
    height: 48px;
}
  
.icons-top-nab-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 28px;
    height: 28px;
}

.profile{
    margin-right: 5rem;
    width: 60px;
    height: 60px;
}
  