<div class="container" *ngIf="cargado">
  <div class="image">
    <img [src]="srcImg" alt="alt" class="imageUpdateHotel" />
    <div class="hover-add">
      <app-icon
        src="assets/icons/lapizEit.png"
        alt=""
        [style]="'iconHotelAdminedit'"
        (click)="triggerFileInput()"
      ></app-icon>
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        style="display: none"
        accept="image/*"
      />
    </div>
  </div>

  <section class="inputs">
    <div class="input" *ngFor="let input of inputs; let i = index">
      <app-text
        *ngIf="input.text"
        [text]="input.text"
        [style]="'textHotelUpdate'"
      >
      </app-text>

      <app-input-text
        *ngIf="input.placeholder"
        [placeholder]="input.placeholder"
        [type]="input.type"
        [style]="'inputUpdateHotel'"
        [list]="input.list"
        [formControl]="getFormControl(input.formControlName)"
        [max]="input.max"
      >
      </app-input-text>

      <app-input-date
        *ngIf="input.dateStar"
        src="assets/icons/date.png"
        [txt]="input.dateStar"
        [style]="'dateUpdateHotel'"
        [formControl]="getFormControl(input.formControlName)"
      >
      </app-input-date>

      <app-input-date
        *ngIf="input.dateFinish"
        src="assets/icons/date.png"
        [txt]="input.dateFinish"
        [style]="'dateUpdateHotel'"
        [formControl]="getFormControl(input.formControlName)"
      >
      </app-input-date>

      <app-error-text
        *ngIf="isControlInvalid(input.formControlName)"
        [text]="getErrorMessage(input.formControlName)"
        [style]="'textErrorAddHotel'"
      >
      </app-error-text>
    </div>
  </section>

  <section class="description">
    <div style="position: relative">
      <app-text-area
        title="Servicio:"
        placeholder="Descripcion de los servicio"
        [(description)]="serviceDescription"
        [formControl]="getFormControl('serviceDescription')"
      >
      </app-text-area>

      <app-error-text
        *ngIf="isControlInvalid('serviceDescription')"
        [text]="getErrorMessage('serviceDescription')"
        [style]="'textErrorAddHotel'"
      >
      </app-error-text>
    </div>

    <div style="position: relative">
      <app-text-area
        title="Descripcion:"
        placeholder="Descripcion de hotel"
        [(description)]="hotelDescription"
        [formControl]="getFormControl('hotelDescription')"
      >
      </app-text-area>

      <app-error-text
        *ngIf="isControlInvalid('hotelDescription')"
        [text]="getErrorMessage('hotelDescription')"
        [style]="'textErrorAddHotel'"
      >
      </app-error-text>
    </div>
  </section>

  <section class="butons">
    <app-button
      text="Cancelar"
      [style]="'button-cancel'"
      (click)="cancelData()"
    ></app-button>
    <app-button
      text="Guardar"
      [style]="'saveHotel'"
      (click)="saveData()"
    ></app-button>
  </section>
</div>
