<div class="container">
    <div class="image">
        <img [src]="srcImg" [alt]="altImg" class="imageUpdateHotel">
        <div class="hover-text">
            <app-icon src="assets/icons/lapizEit.png" alt="" [style]="'iconHotelAdminedit'" (click)="triggerFileInput()"></app-icon>
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept="image/*" />
        </div>
    </div>
    
    <section class="inputs">
        <div class="input" *ngFor="let input of inputs">
            <app-text *ngIf="input.text" [text]="input.text" [style]="'textHotelUpdate'"></app-text>
            <app-input-text *ngIf="input.placeholder" [placeholder]="input.placeholder" [type]="input.type" [style]="'inputUpdateHotel'"></app-input-text>
            <app-input-date 
                *ngIf="input.dateStar" 
                src="assets/icons/date.png" 
                [txt]="input.dateStar" 
                [style]="'dateUpdateHotel'">
            </app-input-date>
            <app-input-date 
                *ngIf="input.dateFinish" 
                src="assets/icons/date.png" 
                [txt]="input.dateFinish" 
                [style]="'dateUpdateHotel'">
            </app-input-date>
        </div>
    </section>

    <section class="description">
        <app-text text="Descripcion:" [style]="'textHotelUpdate'"></app-text>
        <textarea
        class="custom-textarea"
        rows="4"
        cols="50"
        placeholder="Descripcion"
      ></textarea>
        </section>

    <section class="butons">
        <app-button text="Cancelar" [style]="'button-cancel'" (click)="cancelData()"></app-button>
        <app-button text="Guardar" [style]="'saveHotel'" (click)="seveData()"></app-button>
    </section>
</div>
