<div class="contenTable">
    <app-title [text]="titleTable" [style]="'titleTableAdmin'"></app-title>
    <div class="scroll-container">
      <div [class]="header">
        <app-title *ngFor="let title of titles" [text]="title.title" [style]="'titleTableAdmin'"></app-title>
      </div>

      <section class="conten-table">
        <div  *ngIf="items.length > 0">
          <div *ngFor="let item of items" [class]="conten">
            <app-text *ngIf="item.tipe" [text]="item.tipe | truncate:10:true" [style]="'textTableAdmin'"></app-text>
            <app-text [text]="item.name | truncate:10:true" [style]="'textTableAdmin'"></app-text>
            <app-text 
            [text]="conten === 'conten2' ? (item.location | truncate:15:true) : (item.location | truncate:27:true)" 
            [style]="'textTableAdmin'">
        </app-text>
         <app-text [text]="item.id | truncate:10:true" [style]="'textTableAdmin'"></app-text>
            <app-toggle-switch
              [(checked)]="item.isToggled"
              (checkedChange)="onToggleChange($event, item)">
            </app-toggle-switch>
            <div class="botons">
              <app-icon 
                src="assets/icons/lapiz.png" 
                alt="" 
                [style]="'iconHotelAdmin'" 
                (click)="openModalEdit(item)">
              </app-icon>
            
              <app-icon 
                src="assets/icons/eye.png" 
                alt="" 
                [style]="'iconHotelAdmin'" 
                (click)="openModalView(item)">
              </app-icon>
            </div>
            
          </div>
        </div>
        <div class="undefoult" *ngIf="items.length == 0">
          <img src="assets/icons/techny-searching-for-a-file-in-a-folder.gif" alt="undefoult">
          <app-title [style]="'state-Tables'" text="Oh no!, no se ha econtrado ningun contenido"></app-title>
        </div>
      </section>


    </div>
  </div>
  