.shared-buttons{
    display: flex;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
}


@media (min-width: 352px) and (max-width: 480px) {
    .shared-buttons{
        .butons{
         margin: 2rem auto;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}