<app-principal-navbar></app-principal-navbar>
<app-secondary-navbar></app-secondary-navbar>

<div class="conten">
  <div class="conten-top">
    <app-conten-top
      [style]="'image-top'"
      [toptitle]="toptitle"
    ></app-conten-top>
    <app-images [src]="topImage" [style]="'image-top-nosotros'"></app-images>
  </div>

  <section class="target">
    <app-title-section [style]="'container-nosotros'" title="Contamos Con" subtitle=""></app-title-section>
    <section class="services">
    <section class="cards" *ngIf="container.length">
      <app-template-cards
        [contend]="'card-nosotros'"
        styleIcon="icon-nosotros"
        [contens]="container"
      ></app-template-cards>
    </section>
    </section>

    <app-title-section [style]="'container-nosotros'" title="Nuestra Historia" subtitle=""></app-title-section>

    <section class="history">
      <img src="assets/images/history.png" alt="history">
      <div class="text">
        <app-text [text]="history1" [style]="'text-nostros-profile'"></app-text>
        <app-text [text]="history2" [style]="'text-nostros-profile'"></app-text>
      </div>
    </section>

    <app-title-section [style]="'container-nosotros'" title="Nuestro Equipo" subtitle=""></app-title-section>

    <section class="tem">
      <img src="assets/images/team.png" alt="tem">
      <app-text [text]="infoTem" [style]="'text-nostros-profile'"></app-text>
    </section>

  </section>
  

</div>

<app-principal-footer></app-principal-footer>
