@import '../../../../../../styles/variables.scss';
.principal {
    background-color: $primary-color; 
    display: flex;
    justify-content: space-around;
    align-items: inherit;
}

footer{
    background-color: $primary-color; 
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}


app-link-list {
    display: block;
    margin-bottom: 10px; 
}

app-subtitle{
    color: $primary-color-text;
}

app-over-footer{
    margin-left: auto;
}

