<div class="container" *ngIf="cargado">  
  <app-icon src="assets/icons/close.png" alt="" [style]="'icon-close'" (click)="closeVist()"></app-icon>

    <section class="inputs">
      <div class="input" *ngFor="let input of inputs; let i = index">
        <ng-container *ngIf="input.text">
          <app-text [text]="input.text" [style]="'textHotelUpdate'"></app-text>
        </ng-container>
      
      <app-view-service
      *ngIf="input.placeholder"
      [text]="input.placeholder"
      ></app-view-service>
  
      </div>
    </section>
  
    <section class="description">
      <div>
        <app-text [text]="'Horario de atención:'" [style]="'textHotelUpdate'"></app-text>  

        <app-view-service
        [text]="horarioAtencion"
        ></app-view-service>

      </div>
    </section>
    
  </div>
  