@import '../../../../../styles/variables.scss';

.share-button{
    display: flex;
    align-items: center;
    width: 11.7rem;
    height: 4rem;
    border: none;
    background-color: $button-shared-color;
    cursor: pointer;
    .text{
        font-family: $font-family-poppins;
        font-weight: $font-weight-regular;
        letter-spacing: $global-spacing;
        font-size: $text-button;
        color: $primary-color-text;
    }
  }
  
  .share-button.selected {
    transition: 1s;                     
    background-color: $primary-color; 
}

.search-button{
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$button-shared-color ;
    cursor: pointer;
    width: 9.375rem;
    height: 3.125rem;
    .text{
        font-family: $font-family-poppins;
        font-weight: $font-weight-regular;
        letter-spacing: $global-spacing;
        font-size: $text-button;
        color: $primary-color-text;
    }
}

  .button-cancel {
    border-radius: 1.25rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $message-error;
    cursor: pointer;
    width: 9.375rem;
    height: 3.125rem;
    .text{
        font-family: $font-family-poppins;
        font-weight: $font-weight-regular;
        letter-spacing: $global-spacing;
        font-size: $text-button;
        color: $primary-color-text;
    }
}

.disaible-button{
    border-radius: 1.25rem;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: $color-borders;
    width: auto;
    height: 3.125rem;
    padding: 1rem;
    .text{
        font-family: $font-family-poppins;
        font-weight: $font-weight-regular;
        letter-spacing: $global-spacing;
        font-size: $text-button;
        color: $primary-color-text;
    }
}

.button-disaible{
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    cursor: pointer;
    width: auto;
    height: 3.125rem;
    padding: 1rem;
    .text{
        font-family: $font-family-poppins;
        font-weight: $font-weight-regular;
        letter-spacing: $global-spacing;
        font-size: $text-button;
        color: $primary-color-text;
    }
}


.registerGoogle{
    display: flex;
    background-color: $primary-color;
    border-radius: 0.625rem;
    border: none;
    width: 25.5rem;
    height: 4.063rem;
    cursor: pointer;
    align-items: center;
    .text{
        font-family: $font-family-poppins;
        font-weight: $font-weight-regular;
        letter-spacing: $global-spacing;
        font-size: $text-button;
        color: $primary-color-text;
    }
}

.other-button{
    display: flex;
    background-color: $primary-color;
    border-radius: 0.625rem;
    border: none;
    width: 25.5rem;
    height: 4.063rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    .text{
        font-family: $font-family-poppins;
        font-weight: $font-weight-regular;
        letter-spacing: $global-spacing;
        font-size: $text-button;
        color: $primary-color-text;
    }
}


@media (min-width: 352px) and (max-width: 480px) {
    .registerGoogle{
    width: 72vw;
    .text{
        font-size: 16px;
    }
    }
    .other-button{
        width: 70vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .search-button, .button-cancel{
        width: 25vw;
        height: 4vh;
        .text{
            font-size: 15px;
        }
    }
    .share-button {
        align-items: center;
        justify-content: center;
        width: 15vw;
        height: 7vh;
        border-radius: 30%;
        position: relative; 
    
        .text {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);  
            margin-top: 0.2rem;
            font-size: 15px;
        }
    }

}



@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}