$primary-color-text: #FFFFFF;
$primary-color: #477584;
$background-light: #EEEEEE; 
$background-light-contens: #FFFFFF; 
$color-borders:#0000004D;
$leters-color-basic:#1E1E1E;
$button-shared-color:#242424;
$background-contens-image:rgba(0, 0, 0, 0.5);

