@import '../../../../../styles/variables.scss';

.title-principal{
    font-family: $font-family-poppins;
    font-size: $title-principal;
    font-weight: $font-weight-bold;
}

.title-secondary{
    font-family: $font-family-poppins;
    font-size: $title-secondary;
    font-weight: $font-weight-semibold;
}

.title-third{
    font-family: $font-family-poppins;
    font-size: $title-third;
    font-weight: $font-weight-medium;
}