@import '../../../../../styles/variables.scss';

.container {
    position: relative;
    overflow: hidden;
}
.image-top {
    display: block;
    width: 99.1vw;
    height: 37.188rem;
    object-fit: cover;
}
.image-top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-contens-image; 
}

.image-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-contens-image; 
    border-radius: 1rem 1rem 0 0;
}

.image-card{
    display: block;
    width: 19.588rem;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
}