@import '../../../../../styles/variables.scss';



.card-profile .card{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 2rem 1.5rem;
    width: 25rem;
    height: 15.75rem;
    border: solid 1px $color-borders;
    border-radius: 0.625rem;
    cursor: pointer;
    app-icon{
        margin-bottom: 1rem ;
    }
    app-subtitle{
        margin-bottom: 1rem;
    }
}

.persona-info{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    width:  49rem;
    border: solid 1px $color-borders;
    border-radius: 0.625rem;
}

.card-nosotros {
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 2rem 1rem;
        width: 25rem;
        border: solid 1px $color-borders;
        border-radius: 0.625rem;
        background-color: $background-light-contens;
        app-icon{
            margin-bottom: 1rem ;
        }
        app-subtitle{
            margin-bottom: 1rem;
        }
}
}

@media (min-width: 352px) and (max-width: 480px) {
    .persona-info{
        width: 90vw;
        padding: 1.5rem;
    }
    .card-profile .card{
        width: 90vw;
        height: auto;
    }
    .card-nosotros{
        .card{
            width: 80vw;
            height: 30vh;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 920px) {
    .card-profile .card{
        width: 46vw;
    }
}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}
