.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#EEEE;
    app-logo{
        margin-left: 3rem;
    }
    .menu{
        display: flex;      
    }
}

