<div class="nav-bar">
  <div class="menu-icon" *ngIf="showLinks" (click)="toggleMenu($event)">
    <app-icon
      [src]="'assets/icons/menuHanburger.png'"
      [alt]="'Menú'"
      [style]="'menuHamburger'">
    </app-icon>
  </div>

  <a href="/" id="logoImg" *ngIf="showLinks">
    <app-logo [src]="srclogo" [alt]="altlogo"></app-logo>
  </a>

  <a href="/" *ngIf="!showLinks">
    <app-logo [src]="srclogo" [alt]="altlogo"></app-logo>
  </a>

  <div class="menu" *ngIf="showLinks" [class.open]="menuOpen">
    <div class="headerHamburger">
      <app-logo *ngIf="menuOpen" [src]="srclogo" [alt]="altlogo"></app-logo>
      <app-icon
        *ngIf="menuOpen"
        [src]="'assets/icons/close.png'"
        [alt]="'Cerrar'"
        [style]="'icon-close'"
        (click)="toggleMenu($event)">
      </app-icon>
    </div>

    <app-link
      *ngFor="let link of links; let i = index"
      [href]="link.href" 
      [style]="'info-normal'" 
      [text]="link.text"
      [isSelected]="selectedLinkIndex === i"
      (linkSelected)="selectLink(i)">
    </app-link>
  </div>

  <div class="icon" (click)="toggleProfileMenu($event)">
    <app-icon
      [src]="userProfilePicture"
      [alt]="alticon"
      [style]="'profile'">
    </app-icon>
    
    <!-- Menú desplegable debajo del icono de perfil -->
    <div class="profile-menu" *ngIf="profileMenuOpen">
      <a href="/clientProfile">Perfil</a>
      <a (click)="ayuda()"> Centro de ayuda</a>
      <a (click)="logout()">Cerrar sesión</a>
    </div>
  </div>
</div>
