<form action="">

    <div class="register-form">
        <app-logo [src]="srclogo" [alt]="altlogo"></app-logo>
        <app-button [text]="textGoogle" [style]="'registerGoogle'">
            <app-icon [src]="srcicon" [alt]="alticon" [style]="'icon-google'"></app-icon>
        </app-button>

        <div class="line">
            <hr><p>o</p><hr>
        </div>

       <div class="text" *ngFor="let conten of contens">
                <app-subtitle 
                [style]="'subtitle-register'" 
                [text]="conten.title">
            </app-subtitle>
            <app-input-text 
                type="text"  
                [placeholder]="conten.placeholder"
                [style]="'input-register'">
            </app-input-text>  
       </div>
    
       <app-button [text]="textContin" [style]="'other-button'"></app-button>
    
       <div class="text-footer">
    
           <app-text [text]="textfooter" [style]="'text-normal'"></app-text>
           <app-link-normal [text]="textfooter1" [href]="href" [style]="'link-normal-all'"></app-link-normal>
       
        </div>

    
    </div>
    <img [src]="srcfondo" [alt]="altfodo" class="fondo">
</form>
