@import '../../../../../styles/variables.scss'; 

form{
    display: flex;

    .register-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem ;
        padding-bottom: 2rem;
        width: 35%;

        .line{
            display: flex;
            align-items: center;
            margin: 2rem 0rem;
            hr{
                border: solid 0.063rem  black;
                width: 11.375rem;
              }
              p{
                font-size: 24px;
                font-weight: 300;
                margin: 0px 10px;
              }
        }
        .text{
            display: flex;
            flex-direction: column;
            margin:1rem 0rem 1rem 0rem ;

            .contenPassword{
                width: 100%;
                position: relative;
            }
        }

        app-button{
            margin: 2rem 0rem 0rem 0rem;
        }

        .text-footer{
            margin-top: 1rem;
            display: flex;
        }
    }
    .fondo{
        width: 65%;
    }

.toggle-password-btn {
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    transform: translateY(-2.7rem);
    right: 1.4rem;
  }
  

@media (min-width: 352px) and (max-width: 480px) {
    .fondo{
        display: none;
    }
    .register-form{
        width: 100% !important;
    }
    .line{
        hr{
            width: 32vw !important;
          }
    }
    .toggle-password-btn {
        transform: translateY(-2.5rem);
        right: 1rem;
    }
}



@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}
}