@import '../../../../../styles/variables.scss';

*{
    margin: 0;
}

.subtitle-principal{
    font-family: $font-family-poppins;
    font-size: $subtitle-principal;
    font-weight: $font-weight-regular;
    letter-spacing: $global-spacing;
    line-height: $global-line-spacing;
}
.subtitle-secundary{
    font-family: $font-family-poppins;
    font-size: $subtitle-secondary;
    font-weight: $font-weight-light;
    letter-spacing: $global-spacing;
    line-height: $global-line-spacing;
}

.subtitle-theird{
    font-family: $font-family-poppins;
    font-size: $subtitle-principal;
    font-weight: $font-weight-semibold;
    letter-spacing: $global-spacing;
    line-height: $global-line-spacing;
}

.subtitle-register{
    font-family: $font-family-poppins;
    font-size: $subtitle-secondary;
    font-weight: $font-weight-light;
    letter-spacing: $global-spacing;
    line-height: $global-line-spacing;
}

.textUpdate{
    color: $primary-color;
    font-size: $text-normal;
    font-weight: $font-weight-bold;
    line-height: $global-line-spacing;
    text-decoration: underline;
    cursor: pointer;
}

.textCancelar{
    color: $message-error;
    font-size: $text-normal;
    font-weight: $font-weight-bold;
    line-height: $global-line-spacing;
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 352px) and (max-width: 480px) {
    .subtitle-register{
        font-size: $text-normal;
    }
    
}



@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}