<div class="container" *ngIf="cargado">
    <app-icon src="assets/icons/close.png" alt="" [style]="'icon-close'" (click)="closeVist()"></app-icon>
    <header>
      <app-title [text]="'Paquete:'+namePaquete" [style]="'titlePaquete'"></app-title>
      <app-title [text]="'Precio:'+pricePquete" [style]="'titlePaquete'"></app-title>
    </header>
  
      <div class="image">
        <img [src]="srcImg" [alt]="altImg" class="imageUpdateHotel">
      </div>
    
        <div class="input-container">
          <div class="input" *ngFor="let input of inputs; let i = index">
            <app-text 
                *ngIf="input.text" 
                [text]="input.text" 
                [style]="'textHotelUpdate'">
              </app-text>
      
              <app-view-service
              *ngIf="input.placeholder"
              [text]="input.placeholder"
              ></app-view-service>
      
              <app-view-service
              *ngIf="input.dateStar"
              [text]="input.dateStar"
              ></app-view-service>

              <app-view-service
              *ngIf="input.dateFinish"
              [text]="input.dateFinish"
              ></app-view-service>
      
              <app-text *ngIf="input.number" [text]="input.number" [style]="'textHotelUpdate'"></app-text>

              <app-view-service
              *ngIf="input.placeholderNumber"
              [text]="input.placeholderNumber"
              ></app-view-service>

            </div>
        </div>
      
      <section class="description">
        <div>
            <app-text [text]="'Preferencias del cliente:'" [style]="'textHotelUpdate'"></app-text>  
            <app-view-service
            [text]="preferenciasCliente"
            ></app-view-service>
        </div>
      
        <div>
            <app-text [text]="'Descripcion:'" [style]="'textHotelUpdate'"></app-text>  
            <app-view-service
            [text]="itinerario"
            ></app-view-service>
        </div>
      </section>
      
      <div class="teble">
        <app-table-admin
        [header]="'header'"
        [conten]="'conten'"
        [items]="itemsPaquete"
        [styleContainer] = "'contenTableAddPaquete'"
        [titles]="titlesPaquete"
        [sourceComponent]="'ComponentePaquete'">
      </app-table-admin>
    </div>
    </div>
    