@import '../../../../../styles/variables.scss'; 

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  width: 49rem;
  border: solid 1px $color-borders;  
  border-radius: 0.625rem;
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  form {
    .inputs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    .error-message {
      position: absolute;
    }
  }
  app-button {
    width: fit-content;
  }
}


@media (min-width: 352px) and (max-width: 480px) {
  .container {
    width: 90vw;
    padding: 1.5rem;
  }
}


@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}