.input-container {
  position: relative;


  .error-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    display: none;

    img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  

  &.has-error .error-icon {
    display: block;
    transform: translateY(-10px);
    margin-right: .6rem;
  }
}

@media (min-width: 352px) and (max-width: 480px) {
  .input-container {
  
    .error-icon {
      right: 10px;
      top: 50%;
      display: none;
  
      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  
    &.has-error .error-icon {
      display: block;
      transform: translateY(-26px);
      margin-right: .6rem;
    }
  }
}



@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}