<div class="conten">
    <app-register-form 
    srclogo="assets/images/logo.png" altlogo="logo"
    textGoogle="Continúa con Google"
    srcicon="assets/icons/google.png"
    alticon="google"
    [contensSection]="conten"
    textlink="Olvidaste tu contraseña"
    textContin="Continúa"
    textfooter="¿Ya tienes una cuenta?"
    textfooter1="Inicia Sesion"
    href="/"
    srcfondo="https://s3-alpha-sig.figma.com/img/4fc1/ee6c/926fec63419da80c943f976a9eba4930?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XKkwjcXKKeMJTHDMy3yKTzEFUxRyrVj8tMOqWsz5bwEft0iBTL8yXDY5PE~XqXpScjqTvhDfmunuIdCZxT48UIuB3FRQ7Y0tD~TqTuievdfQP8FTIJPZDw~iFIz4JbfXcQUQTcSrrj8IiG8s5kIHxuOME-TT9y9f9PF0Foso34Su1Wxnt8zhDxw7R1Fxy4ZQ4kEkuPu9xQ4JXjET7dB8xHFPj3nCwgEUANCHOA8330vpMscT0umQEfmJ3WaCY6Djrga0vhv3vIyPcflmdDeSCSZWLqRVgluP63Oc8-3y9KoCi22ZrXtQKhnCweRX94ktuuaFcX8nzA6IUIEv1JHV1Q__"
    altfodo="fondo"
    ></app-register-form>
</div>