<div class="conten">
    <app-register-form 
    srclogo="assets/images/logo.png" altlogo="logo"
    textGoogle="Continúa con Google"
    srcicon="assets/icons/google.png"
    alticon="google"
    [contensSection]="conten"
    textlink="Olvidaste tu contraseña"
    textContin="Continúa"
    textfooter="¿Ya tienes una cuenta?"
    textfooter1="Inicia Sesion"
    href="/"
    srcfondo="https://s3-alpha-sig.figma.com/img/4fc1/ee6c/926fec63419da80c943f976a9eba4930?Expires=1719792000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Y68kg3qdtk6FYR6-Qe01eOdCitxjV4E7i6iZbNkPZ38c4pdNyNyNWTyGAE6q5zFJQsmunW46rM-djcKfSij9W5xHmDQ9TDU9CckKLjHG2e0oFTcqpnVMaBEvJjDtG5HRt2Y0AB9~-oJ~n4ThBWdFaVIIBKgbqCbTMmg3kTjRBA5co0AoWlZRnQzDS0qjtFdMmq6MibTdSsy2gI-DJORjZZRDiuXYtFmvZtyI3sZW2AyU-EiaPuzSdfWsLOqsgsL6jSTauk0rmEajTy3LSgHl2a78ZI9z9Wj8Re2ruQS~F4iLTzERQkGuo6BVkiUtcyU3d8YVhUC8xqrz~UTyT49tBg_"
    altfodo="fondo"
    ></app-register-form>
</div>