<div class="conten">
    <app-register-form 
    srclogo="assets/images/logo.png" altlogo="logo"
    textGoogle="Continúa con Google"
    srcicon="assets/icons/google.png"
    alticon="google"
    [contensSection]="conten"
    textlink="Olvidaste tu contraseña"
    textContin="Continúa"
    textfooter="¿Ya tienes una cuenta?"
    textfooter1="Inicia Sesion"
    href="/"
    srcfondo="https://s3-alpha-sig.figma.com/img/4fc1/ee6c/926fec63419da80c943f976a9eba4930?Expires=1721001600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nVKDjhttu2mPYD2cf99NCg2m6ClWBnZuvmk0AMNyIybj11BLXqNp2JBUouoXDp8LSpV0r6SrFo-y0iqyTpuwg7-~hFo~p150zT1e-Me5wWdihhSsTPXV4999-ulLOGVzZvt1RIxYGv7n~RvaCs5JRKpg9q59c4rZzip5d8NDsRUwHHu9frd53zvRfPswUc5tMJfPgAG6ZoJW1aMjoI3YWqyJGFj8wiwgiX2iHTKCTpueE63M4XLXcRIsFPgnx48NfO0hAMXu4Bym3hwkY0ONSOflLkbMqampOJ-7aqdOpPXokHyEUwJSZ3BdFtJTZXywHQUQs~Fo2zeUlfP9fkGiFA__"
    altfodo="fondo"
    ></app-register-form>
</div>