<div class="container">
    <!-- Sección de Vuelos -->
    <ng-container *ngIf="hasValidFlights()" class="margin">
        <app-title-section title="Vuelos" subtitle="Encuentra lo más relevante"></app-title-section>
        <div class="container-cards">
            <ng-container *ngFor="let transport of filteredFlights | slice:0:4">
                <app-card-hotel *ngIf="transport.state !== false"
                    [title]="transport.destination"
                    [departure]="transport.origin"
                    [price]="transport.price"
                    [src]="transport.imageurl"
                    [type]="transport.transporttype">
                </app-card-hotel>
            </ng-container>
        </div>
    </ng-container>

    <!-- Sección de Hoteles -->
    <ng-container *ngIf="hasValidHotels()"  class="margin">
        <app-title-section title="Hoteles" subtitle="Encuentra lo más relevante"></app-title-section>
        <div class="container-cards">
            <ng-container *ngFor="let hotel of hotels | slice:0:4">
                <app-card-hotel *ngIf="hotel.state !== false"
                    [title]="hotel.name"
                    [src]="hotel.imageurl"
                    [departure]="hotel.location"
                    [price]="hotel.price"
                    [type]="'hotel'"
                    [service]="hotel.room">
                </app-card-hotel>
            </ng-container>
        </div>
    </ng-container>

    <!-- Sección de Cruceros -->
    <ng-container *ngIf="hasValidCruises()"  class="margin">
        <app-title-section title="Cruceros" subtitle="Encuentra lo más relevante"></app-title-section>
        <div class="container-cards">
            <ng-container *ngFor="let transport of filteredCruises | slice:0:4">
                <app-card-hotel *ngIf="transport.state !== false"
                    [title]="transport.destination"
                    [departure]="transport.origin"
                    [price]="transport.price"
                    [src]="transport.imageurl"
                    [desde]="'Paga a 4 cuotas desde*'"
                    [noches]="transport.nights + ' noches'"
                    [type]="transport.transporttype">
                </app-card-hotel>
            </ng-container>
        </div>
    </ng-container>
</div>
