<div [class]="style">
    <app-subtitle [style]="'subtitle-principal'" text="¡Busca tu paquete soñado!"></app-subtitle>

    <section class="inputs" *ngFor="let paquete of contenPaquete">

      <div class="text">
        <app-subtitle [style]="'subtitle-secundary'" [text]="paquete.origin"></app-subtitle>
        <app-image-input-text 
          [styleinput]="styleInputText" 
          [styleIcon]="styleInputIcon"
          type="text" 
          src="assets/icons/ubication.png" 
          alt="Search Icon" 
          placeholder="Ingrese una ciudad"
          [inputControl]="originControl">
        </app-image-input-text>
        <div *ngIf="submitted && originControl.invalid" class="error-message">
          <app-error-text text="Campo obligatorio" [style]="'textErrorSheart'"></app-error-text>
        </div>
      </div> 

        <div class="text">
            <app-subtitle [style]="'subtitle-secundary'" [text]="paquete.destination"></app-subtitle>
            <app-image-input-text 
              [styleinput]="styleInputText" 
              [styleIcon]="styleInputIcon"
              type="text" 
              src="assets/icons/ubication.png" 
              alt="Search Icon" 
              placeholder="Ingrese una ciudad"
              [inputControl]="destinationControl">
            </app-image-input-text>
            <div *ngIf="submitted && destinationControl.invalid" class="error-message">
              <app-error-text text="Campo obligatorio" [style]="'textErrorSheart'"></app-error-text>
            </div>
          </div> 

          <div class="text">
            <app-subtitle [style]="'subtitle-secundary'" [text]="paquete.dates ? paquete.dates : ''"></app-subtitle>
            <div class="dates">
              <app-input-date 
                class="date1" 
                src="assets/icons/date.png" 
                [txt]="ida" 
                [submitted]="submitted"
                [style]="styleDate"
                [control]="idaControl">
              </app-input-date>
              <app-input-date 
                src="assets/icons/date.png" 
                [txt]="vuelta" 
                [submitted]="submitted"
                [style]="styleDate"
                [control]="vueltaControl"> 
              </app-input-date>
            </div>      
          </div>

          
          <div class="footer">
              <div class="text">
                <app-subtitle [style]="'subtitle-secundary'" [text]="paquete.rooms ? paquete.rooms : ''"></app-subtitle>
                <app-image-input-text 
                  [styleinput]="styleInputNumber" 
                  type="number" 
                  src="assets/icons/rooms.png" 
                  alt="Search Icon" 
                  placeholder="0"
                  styleIcon="input-icon-room"
                  [inputControl]="roomControl">
                </app-image-input-text>
                <div *ngIf="submitted && roomControl.invalid" class="error-message">
                  <app-error-text text="Campo obligatorio" [style]="'textErrorSheart'"></app-error-text>
                </div>
              </div>

            <div class="text">
              <app-subtitle [style]="'subtitle-secundary'" [text]="paquete.peopple ? paquete.peopple : ''"></app-subtitle>
              <app-image-input-text 
                [styleinput]="styleInputNumber" 
                type="number" 
                src="assets/icons/peopple.png" 
                alt="Search Icon" 
                placeholder="0"
                [inputControl]="peoppleControl">
              </app-image-input-text>
              <div *ngIf="submitted && peoppleControl.invalid" class="error-message">
                <app-error-text text="Campo obligatorio" [style]="'textErrorSheart'"></app-error-text>
              </div>
            </div>
        </div>
        
            <app-button
              text="Buscar" 
              [style]="'search-button'" 
              (click)="onSubmit()">
            </app-button>

    </section>
   
  </div>
  