@import '../../../../../styles/variables.scss';

.image-top-home{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .text-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: absolute;
        z-index: 1000;
        top: 15vh;
        color:$primary-color-text;
        app-subtitle .subtitle-principal{
            font-weight: $font-weight-semibold;
            margin-top: 0.5rem;
        }
    }
}


.image-top{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    .text-content{
        position: absolute;
        z-index: 1000;
        top: 7rem;
        color:$primary-color-text;
    }
}


@media (min-width: 352px) and (max-width: 480px) {
    .image-top{
        .text-content{
            top: 2rem;
        }
    }
}
  
  
  @media (min-width: 481px) and (max-width: 768px) {
  
  }
  
  @media (min-width: 769) and (max-width: 920px) {
  
  }
  
  @media (min-width: 921px) and (max-width: 1279px) {
  
  }
  
  @media (min-width: 1280px) {
  
  }