<div class="conten">
  <app-menu-admin
    [options]="menuOptions"
    (optionSelected)="handleOptionSelected($event)"
    (subOptionSelected)="handleSubOptionSelected($event)">
  </app-menu-admin>

  <!-- Mostrar contenido basado en la selección -->
  <ng-container *ngIf="selection === 'Servicios'">
    <app-hoteles-admin
      *ngIf="subSelecction === 'Hoteles'">
    </app-hoteles-admin>

    <app-package-adviser *ngIf="subSelecction === 'Paquetes'"></app-package-adviser>

    <app-transporte-adviser
      *ngIf="subSelecction === 'Transportes'">
    </app-transporte-adviser>
  </ng-container>

  <ng-container *ngIf="selection === 'Proveedores'">
    <app-proveedoresa-adviser></app-proveedoresa-adviser>
  </ng-container>

  <!-- Contenido para otras condiciones -->
  <ng-container *ngIf="selection !== 'Servicios' && selection !== 'Proveedores'">
    <app-empty-status></app-empty-status>
  </ng-container>
</div>
