@import '../../../../../../styles/variables.scss';

.top-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 1rem 4rem 1rem 4rem;

    .contact-section{
        display: flex;
        gap: 6rem;
    }

    .social-section{  
        display: flex;
        gap: 30px;
    }
    app-icon{
        cursor: pointer;
    }
    
}

@media (min-width: 352px) and (max-width: 480px) {
    .top-nav-bar{
        padding: 1rem 1rem 1rem 2rem;
    
        .contact-section{
            gap: 1rem;
        }
    
        .social-section{  
            gap: .8rem;
        }
        
    }
}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 920px) {
    .card-profile .card{
        width: 46vw;
    }
}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}