<div class="top-nav-bar">
    <div class="contact-section">
        <app-span-image src="assets/icons/phone.png" alt="phone" text="111-222-333-444"></app-span-image>
        <app-span-image src="assets/icons/email.png" alt="phone" text="odysseyexpedition@gmail.com"></app-span-image>
    </div>
    
    <div class="social-section">
        <app-icon src="assets/icons/whatsApp.png" alt="whatsApp" [style]="'icons-top-nab-bar'" href="register"></app-icon>
        <app-icon src="assets/icons/instagram.png" alt="instagram" [style]="'icons-top-nab-bar'" href=""></app-icon>
        <app-icon src="assets/icons/twiter.png" alt="twiter" [style]="'icons-top-nab-bar'" href=""></app-icon>
        <app-icon src="assets/icons/facebook.png" alt="facebook" [style]="'icons-top-nab-bar'" href=""></app-icon>
    </div>
   
</div>