@import '../../../../../styles/variables.scss';

.text-normal {
    font-family: $font-family-poppins;
    font-size: $text-normal;
    font-weight: $font-weight-regular;
  }
  
  .text-secundary {
    font-family: $font-family-poppins;
    font-size: $text-secondary;
    font-weight: $font-weight-regular;
  }
  
  .info-normal {
    font-family: $font-family-poppins;
    font-size: $info-normal;
    font-weight: $font-weight-medium;
  }
  
  .textError1 {
    font-family: $font-family-poppins;
    font-size: $text-normal;
    font-weight: $font-weight-extralight;
    position: absolute;
    color: $message-error;
  }
  
  .textError2 {
    font-family: $font-family-poppins;
    font-size: $text-normal;
    font-weight: $font-weight-extralight;
    max-height: 7.5rem;
    position: relative;
    color: $message-error;
  }

  .errortext1{
    color: $primary-color;
    font-size: $text-normal;
    font-weight: $font-weight-bold;
    line-height: $global-line-spacing;
    text-decoration: none;
    margin-left:1rem ;
  }
  
  .errortext {
    color: $message-error;
    font-size: $text-normal;
    font-weight: $font-weight-bold;
    line-height: $global-line-spacing;
    text-decoration: none;
    margin-left:1rem ;
  }

  .info{
    color: $color-info;
    font-size: $text-normal;
    font-family: $font-family-poppins;
    font-weight: $font-weight-light;
    line-height: $global-line-spacing;
  }

  .text-link{
    letter-spacing: 1px;
    font-family: $font-family-poppins;
    font-size: $text-normal;
    font-weight: $font-weight-extralight;
    text-decoration: none;
    color: $leters-color-basic;
    letter-spacing: $global-spacing;
    cursor: pointer;
}


.text-nostros-profile{
  font-family: $font-family-poppins;
  font-size: $text-normal;
  font-weight: $font-weight-extralight;
  text-decoration: none;
  color: $color-info;
  letter-spacing: $global-spacing;
}


.disaible{
  font-family: $font-family-poppins;
  font-size: $info-normal;
  font-weight: $font-weight-extralight;
  letter-spacing: $global-spacing;
}

.reversDisaible{
  font-family: $font-family-poppins;
  font-size: $info-normal;
  color: $primary-color;
  font-weight: $font-weight-medium;
  letter-spacing: $global-spacing;
  cursor: pointer;
}

.info-text{
  color: $leters-color-basic;
  font-family: $font-family-poppins;
  font-size: $text-normal;
  font-weight: $font-weight-extralight;
}
.info-text-select{
  color: $leters-color-basic;
  font-family: $font-family-poppins;
  font-size: $text-normal;
  font-weight: $font-weight-medium;
}

.chatIaClient{
  color: $primary-color-text;
  font-family: $font-family-poppins;
  font-size: $text-normal;
  font-weight: $font-weight-light;
  letter-spacing: $global-spacing;
}

.chatIA{
  color: $color-info;
  font-family: $font-family-poppins;
  font-size: $text-normal;
  font-weight: $font-weight-light;
  letter-spacing: $global-spacing; 
}


@media (min-width: 352px) and (max-width: 480px) {
  .disaible{
    font-size: $text-normal;
  }
}



@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769) and (max-width: 920px) {

}

@media (min-width: 921px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}
