<div [ngClass]="[style, disabled ? 'disabled' : '']">
  <div class="input-text-container">
    <img [src]="src" [alt]="alt" class="input-icon" (click)="openCalendar(calendarInput)">
    <input type="date" 
           class="input-date" 
           #calendarInput 
           (input)="updateText($event)" 
           [min]="getCurrentDate()" 
           [formControl]="control" 
           [disabled]="disabled">
  </div>
  <!-- Muestra el valor actual de txt -->
  <span class="input-text">{{ txt || 'Fecha' }}</span>
  <div *ngIf="!disabled && isEmpty() && submitted" class="error-message">
    <app-error-text text="Campo obligatorio" [style]="'textErrorSheart'"></app-error-text>
  </div>      
</div>
